/* 头部 */
.header-tab {padding-bottom: 0;position: relative;z-index: 22;}

.coupons_bg {background: #b12725;}
.coupons-details img {width:100%;}
.coupons_ticket {
    position: relative;
    width:100%;
}
.coupons_ticket .coupons_bg {
    display:block;
    width:100%;
}
.coupons_ticket .hb_img {
    position: absolute;
    width: 6.1rem;
    height: 7.8rem;
    left: 50%;
    bottom:0;
    margin-left:-3rem;
}
.coupons_tit {
    text-align:center;
    margin:.625rem auto 1rem;
    font-size: 1.35rem;
    color: #ffc104;
}
.coupons_tit .success {
    display: block;
    width:4.175rem;
    margin:0 auto .35rem;
}
.coupons_get_info {
    width:10rem;
    margin:.6rem auto .625rem;
    line-height:.75rem;
    color:#ffc104;
    font-size:.45rem;
    text-align:center;
}
.view_btn {
    width:8rem;
    height:1.625rem;
    line-height:1.625rem;
    text-align:center;
    color:#fff;
    font-size:.7rem;
    font-weight:bold;
    background: #ffae00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    margin:0 auto;
}
.view_btn.none {
    background-color: #a0a0a0;
}
.view_btn:active {
    background: #f80;
}
.coupons_tips {
    width:10.875rem;
    margin:2rem auto 0;
    font-size:.465rem;
    color:#ffc104;
    text-align:center;
}
.coupons_ticket_box {
    width: 100%;
    position: absolute;
    top: 4.8rem;
    left: 0;
    text-align: center;
    font-size: 0;
}
.coupons_ticket_box .ctbg {
    display:inline-block;
    vertical-align: top;
    font-size:0;
    background-repeat: no-repeat;
}
.coupons_ticket_l img {
    width:81px;
    height:160px;
}
.coupons_ticket_r img {
    width:81px;
    height:160px;
}
.coupons_ticket_box .coupons_ticket_c {
    position: relative;
    font-size: 2rem;
    color: #ffc668;
    font-weight: bold;
    width: auto;
}
.coupons_ticket_c h5 {
    position: relative;
    height:160px;
    line-height: 160px;
    margin:0 .2rem;
    z-index: 2;
}
.poupons_ticket_bgc {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height:160px;
    z-index: 1;
}
.poupons_ticket_bgc img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.coupons_list {
    padding-top:.6rem;
}
.coupons_list_bg {
    background-color: #eee;
}
.coupons_list li {
    display: block;
    width: 14.95rem;
    margin:0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: .6rem;
}
.coupons_rmb {
    display: block;
    background-color: #e54f4f;
    position: relative;
    height: 3.9rem;
    width: 14.45rem;
    padding:0 .25rem;
}

.coupons_rmb em,.coupons_rmbno em {
    display: block;
    float: left;
}
.coupons_rmb .coupons_price,.coupons_rmbno .coupons_price {
    padding-right: 5%;
    display: block;
    width: 36%;
    overflow: hidden;
    line-height: 3.9rem;
    text-align: center;
    white-space: nowrap;
}
.coupons_rmb .coupons_title,.coupons_rmbno .coupons_title {
    display: block;
    width: 56.5%;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    position: relative;
    z-index: 99
}

.coupons_rmb .rmb,.coupons_rmbno .rmb {
    color: #fff;
    font-style: normal;
    font-size: .8rem;
    /* line-height: 3.9rem; */
}
.coupons_rmb .price,.coupons_rmbno .price {
    font-size: 1.5rem;
    color: #ffffff;
    vertical-align: baseline;
}
.coupons_condition {
    display: block;
    font-size: .81rem;
    color: #fff;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: .25rem;
}
.coupons_rmb .text,.coupons_rmbno .text {
    padding-top: .75rem;
    font-size: .85rem;
    color: #fff;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: .95rem;
    line-height: .95rem;
}
.coupons_line_dots {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom:0;
    left: 0;
    background: url(../images/coupons/hb_list_dots_01.png) repeat-x;
}
.coupons_user_limit{
    background-color: #fff;
    padding: .4rem;
    position: relative;
}
.coupons_user_limit p {
    color: #999;
    font-size: .5rem;
    height: .75rem;
    line-height: .75rem;
    display: block;
    overflow: hidden;
    width: 100%;
}
.coupons_list_btn_box {
    border-top: 1px solid #ccc;
    height: 2rem;
}
.get_coupons {
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    font-size: .6rem;
    background-color: #ffa200;
    display: block;
    margin: .25rem .5rem;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.get_coupons:active {
    background-color: #FFA200;
}
.received_coupons {
    height: 1.5rem;
    line-height: 1.5rem;
    color: #fff;
    font-size: .6rem;
    background-color: #d9d9d9;
    display: block;
    margin: .25rem .5rem;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.coupons_list_logo {
    display: block;
    position: absolute;
    right:.5rem;
    bottom: .15rem;
    width: 157px;
    height: 20px;
    background-image: url(../images/coupons/tuoxing_text_logo.png);
}

.overdue .coupons_rmb,.used .coupons_rmb {
    background-color: #dcdcdc;
}
.overdue .rt_icon {
    width: 83px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/coupons/hb_overtime.png);
}
.used .rt_icon {
    width: 83px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/coupons/hb_used.png);
}
.normal .rt_icon {
    width: 83px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/coupons/hb_nor.png);
}
.goods-header li.on a {color:#f00;}
.coupons_order_tit {
    margin: 2rem auto .5rem;
    position: relative;
}
.coupons_order_tit h4 {
    font-size: .55rem;
    height: .7rem;
    line-height: .7rem;
    color: #666;
    text-align: center;
}
.coupons_order_tit .line {
    position: absolute;
    top: 50%;
    width: 30%;
    height:1px;
    border-top: 1px solid #e0e0e0;
}
.coupons_order_tit .line_l {
    left: 0;
}
.coupons_order_tit .line_r {
    right: 0;
}
.coupons_remaining {
    font-size: .6rem;
    margin: 1rem 0;
    text-align: center;
    color: #ffc104;
    line-height: .7rem;
}
.coupons-tab  li a:after{
    content: normal !important;
}
.coupons_rmbno{

    display: block;
    background-color: #ccc;
    position: relative;
    height: 3.9rem;
    width: 14.45rem;
    padding: 0 .25rem;
}
