.myorder-tab {
    position: fixed;
    z-index: 33;
    top: 0;
    left: 0;
    width: 100%;
}

.myorder-tab li {
    width: 20%;
}

.myorder-tab li a {
    height: 1.45rem;
    line-height: 1.45rem;
}

.myorder-tab li a.c-base {
    color: #f00;
}

.tab-search-panel {
    position: absolute;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    overflow: auto;
    width: 100%;
    left: 0;
    z-index: 21;
    border-top: 1px solid #eee;
}

.tab-search-panel li {
    border-bottom: 1px solid #eee;
}

.tab-search-panel li a {
    display: block;
    padding: 0.75rem;
    font-size: 0.6rem;
}

.tab-search-panel dl {
    padding: 0.55rem;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
}

.tab-search-panel dl dt {
    font-size: 0.5rem;
}

.tab-search-panel dl dd {
    float: left;
    height: 1rem;
    line-height: 1rem;
    min-width: 2rem;
    width: auto;
    padding: 0 0.3rem;
    border: 1px solid #ccc;
    font-size: 0.55rem;
    border-radius: 0.25rem;
    color: #666;
    margin: 0.3rem;
    text-align: center;
}

.tab-search-panel dl .c-base {
    color: #15be9f;
}

.tab-search-panel .filter-handle {
    height: 2.1rem;
    line-height: 2.1rem;
    font-size: 0.7rem;
    text-align: center;
}

.tab-search-panel .filter-handle a {
    display: block;
}

.filterList dd {
    border-bottom: 1px solid #eee;
    padding: 0.75rem;
    font-size: 0.6rem;
    position: relative;
}

.filterList dd .iconArrBox {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: .8rem;
    font-size: .45rem;
    height: .65rem;
    color: #333;
    background: red;
}

.filterList .iconArrBox i {
    display: block;
    width: 0;
    height: 0;
}

.filterList dd .icon-up {
    border-bottom: .25rem solid #ccc;
    border-left: .26rem solid transparent;
    border-right: .26rem solid transparent;
    position: absolute;
    top: 0;
}

.filterList dd .icon-down {
    border-top: .25rem solid #ccc;
    border-left: .26rem solid transparent;
    border-right: .26rem solid transparent;
    position: absolute;
    bottom: 0;
}

.filterList dd.up .icon-up {
    border-bottom: .25rem solid #006953;
}

.filterList dd.down .icon-down {
    border-top: .25rem solid #006953;
}

.myorder-item {
    background-color: #fff;
    padding: 0 0.6rem;
    font-size: 0.6rem;
}

.myorder-header {
    padding: 0.55rem 0 0.3rem 0;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    font-size: 0.5rem;
    color: #666;
}

.myorder-header .price {
    color: #f00;
    font-size: 0.6rem;
    margin-top: 0.15rem;
}

.myorder-header .creatTime {
    font-size: .45rem;
}

.order-info i {
    margin-right: 0.25rem;
    font-size: 0.75rem;
    color: #333;
    vertical-align: middle;
}

.order-info em {
    margin: 0 0.25rem;
}

.order-time {
    margin-left: 0.6rem;
}

.myorder-item a {
    display: block;
    color: #666;
    padding: 0.5rem 0;
}

.myorder-item-title {
    font-size: 0.7rem;
    color: #333;
}

.myorder-item a p {
    padding-top: 0.25rem;
}

.no-data {
    width: 6.5rem;
    margin: 2.5rem auto;
    font-size: 0.75rem;
    color: #999;
}

.no-data i {
    float: left;
    font-size: 0.75rem;
    margin-top: 0.125rem;
}

.no-data p {
    margin-left: 1.5rem;
    line-height: 100%;
    text-shadow: 1px 2px 2px #fff;
    font-size: 0.6rem;
}

.no-data p em {
    font-size: 0.4rem;
    display: block;
}

/*{
position: fixed;
z-index: 33;
top:0;
left:0;
width: 100%;
border-bottom: 1px solid #eee;
}*/
.ticket-tab li {
    width: 50%;
}

.goods-search li {
    width: 33.333%;
}

.ticket-tab li a {
    height: 1.45rem;
    line-height: 1.45rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.has-search .ticket-tab {
    top: 2.05rem;
}

.has-search.header-tab {
    width: 100%;
    padding-bottom: 0;
    position: absolute;
    left: 0;
    top: 2.2rem;
    z-index: 56;
    border-bottom: 1px solid #dcdcdc;
}

.ticket-tab li a:after {
    font-family: 'icomoon';
    content: "\e900";
    font-size: 0.8rem;
    vertical-align: middle;
}

.ticket-tab li a.c-base:after {
    content: "\e901";
}

/*Ò³ÃæÁÐ±í*/
.page-list {
    background-color: #fff;
}

.page-list li {
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
}

.page-list li a {
    display: block;
}

.page-list-img {
    width: 100px;
    height: 80px;
    float: left;
    overflow: hidden;
}

.page-list-img img {
    height: 100%;
    max-width: none;
    width: 100%;
}

.page-list-info {
    margin-left: 110px;
    height: auto;
}

.page-list-title {
    font-size: 0.65rem;
    color: #333;
    min-height: 0.75rem;
    line-height: 0.75rem;
    padding-bottom: .25rem;
    overflow: hidden;
}

.page-list-title .list-title-box, .goods-list-title .list-title-box {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-list-title .combo-list-title {
    white-space: normal;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 1.5rem;
}

/*.page-list-title span { margin-left: 0.25rem; }*/
.page-list-article {
    font-size: 0.5rem;
    line-height: 1.2;
    color: #999;
    width: 100%;
}

.page-list-article.one {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-list-article.two {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.page-list-foods {
    font-size: 0.5rem;
    line-height: 160%;
    color: #999;
    margin-top: 0.25rem;
}

.page-list-explian {
    margin-top: 0.3rem;
    font-size: 0.5rem;
    color: #999;
    height: 0.6rem;
    line-height: 0.6rem;
}

.page-list-explian .price {
    font-size: 0.5rem;
}

.page-list-explian .price strong {
    margin-right: 0.25rem;
}

.page-list-explian .original-price {
    margin-top: 0.05rem;
    margin-right: 0.25rem;
}

.zyx-list .page-list-title {
    overflow: auto;
    min-height: 2.2rem;
    height: auto;
    line-height: 140%;
}

.page-list-num {
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}

.list-border {
    margin: 0 0.5rem;
}

.list-border .page-list-img {
    width: 4.25rem;
}

.list-border .page-list-info {
    margin-left: 4.75rem;
}

.goods-list-explian {
    margin-top: 0.6rem;
    font-size: 0.5rem;
    color: #999;
    height: 0.6rem;
    line-height: 0.6rem;
}

.goods-list-explian .fr {
    vertical-align: bottom;
}

.goods-group {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    padding-bottom: 0.5rem;
    font-size: 0.5rem;
}

.goods-group-info {
    float: left;
    margin-left: 0.25rem;
}

.goods-line {
    border-top: 1px solid #eee;
    padding: 0.2rem;
}

.goods-active {
    float: left;
}

.search-box, .search-bar-box {
    width: 100%;
    height: 4.5rem;
    position: relative;
    z-index: 25;
    background-color: #f4f4f4
}

.search-bar-box {
    height: 2.2rem;
}

.search-bar {
    width: 100%;
    height: 2.2rem;
    line-height: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    text-align: center;
    z-index: 55;
}

.search-bar.hotel-search {
    background-color: #fff;
}

.search-bar .date-box {
    border-right: 1px solid #e5e5e5;
    height: 1.25rem;
    line-height: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    font-size: .6rem;
    padding: 0 .5rem;
    margin: 0 .3rem;
    color: #999;
}

.search-bar input {
    text-align: center;
    height: 1.5rem;
    line-height: 1.5rem;
    color: #999;
    font-size: .6rem;
    background: #fff;
    padding: 0 .2rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    width: 90%;
}

.search-bar input.hoteltxt {
    width: 8rem;
    background: #f5f5f5;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.search-bar .search-btn {
    position: absolute;
    border: none;
    outline: none;
    background: none;
    top: .65rem;
    right: 1rem;
    color: #15be9f;
}

.raiders-list {
    background-color: #eee;
}

.raiders-list .raiders-info {
    padding: .3rem .6rem;
}

.raiders-list li {
    margin-bottom: .5rem;
    background: #fff;
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px -5px rgba(0, 0, 0, .8);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, .8);
}

.raiders-list .raiders-img {
    width: 100%;
    height: 6rem;
}

.raiders-list .raiders-img img {
    width: 100%;
    height: 100%;
}

.raiders-list h3 {
    font-size: .75rem;
    max-height: 2rem;
    line-height: 1rem;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.raiders-info p {
    font-size: .6rem;
    height: 1rem;
    line-height: 1rem;
    margin-top: .3rem;
    color: #999;
}

.raiders-info .font-icon {
    margin-right: .3rem;
}

/*商品*/
.goods-list {
}

.goods-list li {
    width: 50%;
    padding: 0.75rem 0.75rem;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #eee;
    float: left;
    border-right: none;
    border-top: none;
}

.goods-list li a {
    font-size: 0.5rem;
    color: #333;
    display: block;
}

.goods-list-img {
    width: 100%;
    height: 6.25rem;
    overflow: hidden;
    margin: 0 auto;
}

.goods-list-img img {
    height: 100%;
}

.goods-list-title {
    margin: 0.3rem 0 0.3rem;
    line-height: 140%;
    height: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goods-list-explian {
    overflow: hidden;
    color: #999;
    height: .8rem;
    font-size: 0.45rem;
    line-height: 160%;
    margin-top: .1rem;
}

.goods-list-explian .price strong {
    font-size: 0.6rem;
}

.goods-list-explian .fr {
    vertical-align: bottom;
}

.goods-list-article {
    font-size: 0.5rem;
    line-height: 0.7rem;
    color: #999;
    margin-bottom: 0.3rem;
    height: 1.3rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.page-line2 {
    border-top: 0;
    border-bottom: 1px solid #dcdcdc;
}

.has-search.member-search {
    top: 0;
}

.member-search-box {
    width: 100%;
    height: 2.3rem;
}

.page-list-title {
    position: relative;
}

.icon-guide-level {
    position: absolute;
    top: 0;
    right: .2rem;
    background-image: url(../images/list/guide-icon.png);
    width: .56rem;
    height: .8rem;
    -webkit-background-size: cover;
    background-size: cover;
}

.icon-guide-level2 {
    position: absolute;
    top: 0;
    right: .2rem;
    background-image: url(../images/list/guide-icon2.png);
    width: .56rem;
    height: .8rem;
    -webkit-background-size: cover;
    background-size: cover;
}

.icon-guide-level3 {
    position: absolute;
    top: 0;
    right: .2rem;
    background-image: url(../images/list/guide-icon3.png);
    width: .56rem;
    height: .8rem;
    -webkit-background-size: cover;
    background-size: cover;
}

.list-main {
    /*overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
}

body.scroll {
    position: absolute;
}

.foods-tab li {
    width: 33.3%;
}

.shop-box {
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.p-box {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0.75rem;
    overflow: hidden;
}

.check {
    display: inline-block;
    float: left;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 0.8rem;
    vertical-align: middle;
    position: relative;
}

.check.on i {
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: #f63;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -0.15rem;
    margin-top: -0.15rem;
}

.p-box .tit {
    color: #333;
    font-size: 0.75rem;
    float: left;
    vertical-align: middle;
    margin-left: 0.4rem;
}

.p-box .tit i {
    display: inline-block;
    margin-top: 0.05rem;
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.45rem;
    vertical-align: top;
}

.p-box i.font-icon {
    float: right;
    color: #adacb3;
}

.p-box .tit i.ticket {
    /*background: url(../images/common/shop-money.png) no-repeat;*/
    background-size: cover;
}

.p-box .tit i.hotel {
    /*background: url(../images/common/shop-hotel.png) no-repeat;*/
    background-size: cover;
}

.p-box i.font-icon.mold-type {
    font-size: .7rem;
    color: #333;
    float: none;
}

.bg-box {
    background-color: #f7f7f7;
    padding: 0.75rem 0.75rem 0.75rem 0.95rem;
}

.bg-box h3 {
    font-size: 0.6rem;
    color: #666;
    margin-bottom: 0.5rem;
}

.bg-box p {
    overflow: hidden;
    margin-top: 0.3rem;
}

.bg-box p span em {
    font-size: 0.6rem;
    color: #999;
}

.bg-box p span label {
    color: #333;
    font-size: 0.6rem;
    margin-right: 1rem;
}

.bg-box .c-f63 {
    font-size: 0.6rem;
}

.bg-box .origin_price {
    color: #999;
    margin-left: 0.5rem;
}

.bg-box .c-333 {
    font-size: 0.6rem;
}

.s-time {
    padding: 0.3rem 0.75rem;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    overflow: hidden;
    font-size: 0.6rem;
}

.s-time label {
    font-size: .5rem;
    color: #666;
    margin-right: 1rem;
}

.s-time span {
    color: #999;
    vertical-align: middle;
}

.total-price .check {
    margin: 0.6rem 0.2rem 0 0;
}

.price-subtotal {
    color: #666;
    font-size: 0.5rem;
    margin-right: 0.2rem;
}

/*traffic list*/
.traffic-filter {
    font-size: 0.6rem;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.traffic-filter > div {
    padding: 0.375rem 0;
    border-bottom: 1px solid #dcdcdc;
}

.traffic-filter .disAdress select {
    width: 4.25rem;
    height: 1.3rem;
    background: #f5f5f5;
    border: 1px solid #cbcaca;
}

.traffic-filter .disAdress img {
    width: 0.825rem;
    height: 0.3rem;
    margin: 0 1.37rem;
}

.traffic-filter .startDay {
    line-height: 1.2rem;
}

.traffic-filter .startDay a {
    display: inline-block;
    width: 8rem;
    height: 1.2rem;
    margin: 0 0.8rem;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #cbcaca;
    background-image: url(../images/list/traffic-date.png);
    background-repeat: no-repeat;
    background-position: right 0.4rem center;
    background-size: 0.6rem 0.6rem;
}

.hotel-filter .startDay a {
    width: 4.7rem;
    margin: 0;
    padding-right: 0.5rem;
    width: 4rem;
    margin: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: left;
}

.hotel-filter .startDay em {
    margin: 0 0.2rem 0 0.5rem;
}

.traffic-list {
    background-color: #f4f4f4;
}

.traffic-list li {
    margin-top: 0.25rem;
    background-color: #fff;
    overflow: hidden;
    font-size: 0.6rem;
    color: #333;
}

.traffic-list .trafficRight {
    float: right;
    text-align: center;
}

.traffic-list .trafficRight p {
    font-size: 0.8rem;
    color: #f50b0b;
    line-height: 1.25rem;
}

.traffic-list .trafficRight a {
    display: inline-block;
    text-align: center;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: 0.55rem;
    width: 2.5rem;
    vertical-align: top;
    border-radius: 3px;
    color: #fff;
    background-color: #2ab1ff;
}

.traffic-list .trafficRight .order_gray {
    background: #ccc;
}

.traffic-list .trafficLeft {
    float: left;
    width: 30%;
}

.traffic-list .trafficLeft span {
    line-height: 1.25rem;
}

.traffic-list .trafficCenter {
    padding-left: 30%;
}

.traffic-list .trafficCenter p {
    line-height: 1rem;
}

.traffic-list .trafficCenter i {
    display: inline-block;
    width: 0.38rem;
    height: 0.38rem;
    border-radius: 0.19rem;
    background-color: #1fc0a3;
    margin-right: 0.3rem;
}

.traffic-list .trafficCenter p:nth-child(2) i {
    background-color: #ef2d44;
}

.traffic-list .trafficCenter p:nth-child(3) i {
    background-color: #fff;
}

.cart-block {
    margin-bottom: 2.2rem;
}

/*add zgt 2018.4.11*/
.inter-search-box {
    height: 0;
}

.scored-list {
    padding-left: 0.5rem;
    background-color: #fff;
}

.scored-list li {
    border-bottom: 1px solid #ebebeb;
    padding: 0.75rem 0;
    overflow: hidden;
}

.scored-left {
    float: left;
    width: 6rem;
    font-size: 0.55rem;
    color: #666;
}

.scored-left p:first-child {
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
}

.scored-info {
    margin-left: 9.4rem;
    font-size: 0.6rem;
    padding-right: .25rem;
    text-align: center;
}

.scored-info p {
    color: #666;
    margin-top: 0.3rem;
}